Information Retrival Project : In this we will check which 10-people are the neirest neighbour of amitabh bacchan

- User is reading about Sachin Blogs
- which other posts you can recommend to that person
- Query A- Document A
- Which Docs are sim to Doc A and pass on that as well

In [2]:
import pandas as pd

In [3]:
people = pd.read_csv('people_data.csv')

In [4]:
people.head()

,URI,name,text
0,<http://dbpedia.org/resource/Bill_Clinton>,Bill Clinton,william jefferson bill clinton born william je...
1,<http://dbpedia.org/resource/Polyana_L%C3%B3pez>,Polyana L%C3%B3pez,polyana lpez born circa 1985 is an argentine a...
2,<http://dbpedia.org/resource/Harpdog_Brown>,Harpdog Brown,harpdog brown is a singer and harmonica player...
3,<http://dbpedia.org/resource/Franz_Rottensteiner>,Franz Rottensteiner,franz rottensteiner born in waidmannsfeld lowe...
4,<http://dbpedia.org/resource/G-Enka>,G-Enka,henry krvits born 30 december 1974 in tallinn ...

In [5]:
# Replace all Null values with "No Data"
people.fillna('No Data', inplace= True)

### Using TFIDF

In [6]:
#converting our text columns to tfidf values
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf_vect = TfidfVectorizer()
X_train_tfidf = tfidf_vect.fit_transform(people.text)

In [7]:
X_train_tfidf

<59071x548412 sparse matrix of type '<class 'numpy.float64'>'
	with 10244123 stored elements in Compressed Sparse Row format>

In [8]:
tfidf_vect.get_feature_names()

['00',
 '000',
 '0000',
 '00000',
 '00000van',
 '0001',
 '00014338',
 '0001sec',
 '0002',
 '00026',
 '0003',
 '0005',
 '000577',
 '0005sec',
 '0006',
 '0007',
 '0007105916',
 '0007200374',
 '0007207328',
 '0007213506',
 '000721426xhe',
 '0007a',
 '000he',
 '000in',
 '000m',
 '000seelenprojekt',
 '000tnmickushina',
 '001',
 '0017',
 '001cd',
 '001ehebbm',
 '002',
 '0020849605',
 '0024',
 '0026183900',
 '002864574x',
 '0028659287',
 '003',
 '0033',
 '0034',
 '0036',
 '004',
 '0043',
 '0046',
 '004erdemir',
 '005',
 '006',
 '0060222425',
 '0060628227',
 '0060628464',
 '0060669667',
 '006074393x',
 '0064',
 '0066',
 '007',
 '0070710481',
 '0071357440',
 '0071375627',
 '0072131772',
 '0072131896',
 '0072222611',
 '0072225351',
 '0072438886',
 '007all',
 '008',
 '0080',
 '0080357547',
 '008after',
 '009',
 '00906603',
 '0091',
 '0091857112',
 '0091900255she',
 '0099416689',
 '009at',
 '00a10',
 '00g',
 '00s',
 '00sex',
 '00sin',
 '01',
 '010',
 '0100',
 '01000400',
 '01011001',
 '01011001i',
 '0102',
 '0102928045since',
 '010397',
 '01041984',
 '010602he',
 '0108',
 '011',
 '0110',
 '01122005',
 '0113554',
 '011708',
 '012',
 '0123039606',
 '013',
 '013011510x',
 '0131232746',
 '0139738509',
 '014',
 '0140265708',
 '0140280553',
 '0143',
 '014a',
 '015',
 '0158',
 '016',
 '016a',
 '017',
 '017384251',
 '018',
 '0186',
 '0195104633dr',
 '0195140532winifred',
 '0198',
 '0198149417',
 '0198150784',
 '0198155409',
 '0198162073',
 '0198269862',
 '0198299966judaism',
 '01analyzing',
 '01consulting',
 '01he',
 '01jazz',
 '01kwh',
 '01net',
 '01oct1952',
 '01shave',
 '01st',
 '01w',
 '02',
 '020',
 '0200',
 '0201083191',
 '020114218x',
 '02011964',
 '020139829x',
 '0201498278he',
 '0201533774',
 '020158042x',
 '0201580438',
 '0201725932',
 '0202361373',
 '0203',
 '02032010',
 '0205',
 '0208',
 '021',
 '021050',
 '021206',
 '021207his',
 '02138',
 '02182748',
 '022',
 '022009',
 '02202020',
 '0225662434',
 '0225662434the',
 '0226727033',
 '022under',
 '023',
 '0231115113',
 '0233976817',
 '024',
 '0240804120winder',
 '0240814215',
 '024cd',
 '025',
 '0252009851we',
 '0252014278',
 '0252070003',
 '026',
 '0262195224',
 '0262521563',
 '0262524570',
 '027',
 '0273',
 '0273langton',
 '0275938514',
 '028',
 '0282',
 '029',
 '0295973390',
 '0295974982',
 '02au',
 '02he',
 '02the',
 '03',
 '030',
 '0300',
 '0300051115paul',
 '0304',
 '03072010',
 '03082008',
 '031',
 '0310227283',
 '0312022484',
 '0312038054',
 '0312151918',
 '0312199228',
 '0312360398',
 '0312913451',
 '0313313326professor',
 '031538736',
 '0316346624',
 '0316359564',
 '032',
 '0321186125an',
 '0321187911',
 '0321422775balancing',
 '0321461088cmmi',
 '033',
 '0330482688',
 '034',
 '034042320x',
 '0340428910',
 '0340500719',
 '0340524553',
 '0340551097',
 '0340565403',
 '0340579714',
 '0340579730',
 '0340628588',
 '0340832118',
 '0345373065waiting',
 '035',
 '036',
 '037',
 '0373892101',
 '0375411852joint',
 '03790',
 '038',
 '0380751089review',
 '038075343xreview',
 '0380755203as',
 '0380898527review',
 '03824',
 '038518011x',
 '0387',
 '0387942890',
 '0393039153',
 '0393058697',
 '039306073x',
 '0394537173the',
 '0394546032broadsides',
 '03945771243',
 '0395827442',
 '0395837030sue',
 '0395883245a',
 '0399513329',
 '039951810x',
 '03his',
 '04',
 '040',
 '0400',
 '04012015',
 '0403',
 '040407',
 '0405',
 '040612',
 '0407',
 '040he',
 '041',
 '04122006he',
 '0413776565bigsby',
 '0415049709',
 '042',
 '04242018',
 '04312417676',
 '0434',
 '04350925',
 '044',
 '0440223857netter',
 '0441',
 '0443073457',
 '0446329673',
 '0446696749',
 '045',
 '0450048047in',
 '04522599832',
 '046',
 '0465045677metzingers',
 '0465091148',
 '047',
 '0470179147',
 '0470540710moffitt',
 '0470834005',
 '0470838515',
 '0471250376',
 '0471417920',
 '0471489093',
 '0471597376in',
 '0471683345',
 '0471792519in',
 '0471833568',
 '0471971979',
 '0471971987',
 '0472114190shrinking',
 '048',
 '0485w',
 '0486',
 '049',
 '0499',
 '04journalist',
 '04nikon',
 '04s',
 '04th',
 '05',
 '050',
 '0500251126the',
 '0500274959',
 '0500506',
 '05012011',
 '050187',
 '0503',
 '0504',
 '05042008',
 '05042012',
 '0505',
 '0506',
 '050607',
 '051',
 '0512after',
 '0515',
 '05151992',
 '0517078074',
 '0517705427',
 '051989after',
 '052',
 '0520207343',
 '052020735',
 '0521207886matthew',
 '052124160x',
 '0521416957',
 '0521447828',
 '0521582741',
 '0521816262',
 '05222358230',
 '052284085x',
 '052340347x',
 '0529',
 '053shis',
 '055',
 '0555',
 '05564',
 '0557049148',
 '0559',
 '056',
 '057',
 '0571147763',
 '0578054043',
 '0586069984',
 '059',
 '0595089003',
 '059534819x',
 '0595351689',
 '0595376053',
 '0595760260',
 '0595760260my',
 '05b',
 '05bn',
 '05festival',
 '05following',
 '05he',
 '05kean',
 '05m',
 '05maio',
 '05the',
 '06',
 '060',
 '0600545',
 '060218',
 '06021960',
 '06021999',
 '060508',
 '06052008',
 '06052011',
 '0606jason',
 '0607',
 '061',
 '0611',
 '0613',
 '06140',
 '0615202136',
 '0618378294',
 '0618391118',
 '0618446621',
 '0618453695',
 '0618717609',
 '062',
 '063',
 '06301000',
 '0632037571',
 '0637',
 '064',
 '0643704',
 '0646043099',
 '0646157116',
 '0646190296',
 '0646352601',
 '0646464817guy',
 '065',
 '066',
 '0667',
 '067',
 '0670043281',
 '0676975216',
 '0679400036',
 '0679400621farflung',
 '0679424652',
 '067942833xfrom',
 '068',
 '0683',
 '0689106165in',
 '069',
 '0691070075',
 '0691091293',
 '0692337008',
 '06he',
 '06in',
 '06m',
 '07',
 '070',
 '0700',
 '0705',
 '07051978',
 '07072014',
 '0708',
 '071',
 '0710',
 '0711',
 '0714542954',
 '0714masella',
 '0715631330',
 '071670076xdudley',
 '0727907867his',
 '07292011',
 '073',
 '0738210447',
 '074',
 '0743246950',
 '0743260481',
 '0743271165',
 '0743287150',
 '0743290429',
 '0743466330',
 '0743470591',
 '074756695x',
 '0748663215',
 '075',
 '0750310219',
 '0750944064',
 '0750946741',
 '0750947497',
 '0752450077',
 '0752457403',
 '0752463527',
 '0754',
 '0754631222',
 '0758202709',
 '0758216599',
 '076',
 '0761839674',
 '0762',
 '076241541x',
 '0765311704stemple',
 '077',
 '0771016573',
 '0771065094in',
 '0773478396prior',
 '0773507450bakan',
 '0773522522',
 '0773731911',
 '0773gtafter',
 '078',
 '0786607335',
 '0793',
 '079second',
 '07ghost',
 '07in',
 '07s',
 '08',
 '080',
 '0801057647jesus',
 '0801495427',
 '0801862701',
 '0802075959',
 '0802111068',
 '0802807356mark',
 '080283549xisbn',
 '0802836984first',
 '0802849806the',
 '0803747527',
 '0803938845',
 '0803972059',
 '0804115559',
 '0805791086',
 '0806901551',
 '0806903449',
 '0806904127',
 '080690724x',
 '0806913045',
 '080691811x',
 '080692893x',
 '0806964979',
 '0806969830',
 '0806984686',
 '0806985429',
 '0806987529',
 '0806989491',
 '0806997117',
 '0807',
 '0807031119her',
 '08072013',
 '0808',
 '0809',
 '080972',
 '080m',
 '081',
 '0810867214',
 '0811213420the',
 '0811364',
 '0811814157',
 '0811848752',
 '0812235304',
 '0812908910',
 '0812991583',
 '0813333024roman',
 '08142013',
 '0815603878rudolf',
 '0815focus',
 '0816030936',
 '0816038465',
 '0819184454',
 '081988',
 '082',
 '082011',
 '082012',
 '0820449148',
 '0821258303',
 '0822317206',
 '0825611547',
 '0826464637',
 '0826470459',
 '0827244940',
 '083',
 '08337029',
 '0838905900',
 '084',
 '0841218366streitwieser',
 '0842517901',
 '0843909196deadpan',
 '084390948xstopgap',
 '0843909722as',
 '0847819876',
 '0849333261',
 '085',
 '0851989136',
 '0852346492',
 '0853033803',
 '0853459215',
 '0855',
 '085he',
 '086',
 '0862434955',
 '0867',
 '0868409707',
 '087',
 '0877226504global',
 '0877227756communities',
 '0877229457',
 '0877736103the',
 '0877736707harmonic',
 '0878332642',
 '0878332928',
 '0879101733',
 '0879759712',
 '088',
 '0881507032fine',
 '0881507423',
 '0883441888',
 '0883441888prof',
 '0883850877',
 '0883852020',
 '0883855070',
 '0883855143',
 '0883855240',
 '08891027912',
 '0889202206',
 '0889820228',
 '0889991499',
 '0889994536',
 '0889995737',
 '089',
 '0892561661horchow',
 '0892815604bridge',
 '0894',
 '0897501446',
 '0898230497',
 '0898655641',
 '08bn06bn',
 '08chris',
 '08in',
 '08ppgjurevicus',
 '08though',
 '09',
 '090',
 '0900',
 '09008050',
 '090182514x',
 '0902',
 '0906456002',
 '0906other',
 '09081968',
 '0908630360',
 '091',
 '0910',
 '0911',
 '09112014',
 '091160136',
 '091299',
 '091364',
 '0915368552',
 '0916217361as',
 '0918432871',
 '0920',
 '092064art',
 '0922',
 '09223',
 '0929712242he',
 '093',
 '09301230',
 '0930407571',
 '0931425379taub',
 '0935067140',
 '09366',
 '0938768336',
 '094',
 '0944803733ted',
 '095',
 '0952122642',
 '0953695158the',
 '0953743829',
 '0953979806',
 '0954407555',
 '0955048206',
 '096',
 '0961862203kathy',
 '0964793059',
 '096479308',
 '0967202957',
 '096720299x',
 '0968337309',
 '0968568904',
 '097',
 '0970276834',
 '0971509328',
 '0972140204',
 '0972178902',
 '0972669345',
 '097268221x',
 '0974670103',
 '0975578405',
 '097746170x',
 '0978240519289',
 '098',
 '099',
 '0998',
 '0999',
 '09areas',
 '09both',
 '09m',
 '09szhkb',
 '09the',
 '0b',
 '0chandigarh',
 '0dimensional',
 '0draws',
 '0f',
 '0fer',
 '0for1',
 '0for13',
 '0for1he',
 '0for2',
 '0for20',
 '0for3',
 '0for4',
 '0for5',
 '0for7',
 '0for8',
 '0g',
 '0mahaffey',
 '0n',
 '0one',
 '0rphandrift',
 '0rphandrifts',
 '0sle',
 '0wner',
 '0x10c',
 '10',
 '100',
 '1000',
 '10000',
 '100000',
 '1000000',
 '10000000',
 '100000000',
 '1000000000',
 '10000000000',
 '10000000prior',
 '1000000he',
 '1000000in',
 '1000000jeff',
 '1000000mckeever',
 '100000and',
 '100000at',
 '100000best',
 '100000garners',
 '100000harrington',
 '100000in',
 '100000mile',
 '100000papathanassiou',
 '100000pappas',
 '100000resident',
 '100000the',
 '100000verse',
 '100000vote',
 '100001996',
 '1000020000',
 '10000ayear',
 '10000he',
 '10000in',
 '10000jata',
 '10000km',
 '10000m',
 '10000m10000',
 '10000meter',
 '10000metre',
 '10000mgrage',
 '10000seat',
 '10000th',
 '10000tommy',
 '10000word',
 '10000year',
 '10001100pm',
 '10001300',
 '10001400',
 '10001500',
 '10001536',
 '10002500',
 '100050',
 '10006',
 '10007',
 '1000900',
 '1000acre',
 '1000am1230pm',
 '1000andrew',
 '1000bed',
 '1000cc',
 '1000ellsworth',
 '1000eventi',
 '1000holmsen',
 '1000hp',
 '1000in',
 '1000km',
 '1000le',
 '1000m',
 '1000meter',
 '1000metre',
 '1000mw',
 '1000noon',
 '1000oaksbarrelcom',
 '1000page',
 '1000plus',
 '1000pm',
 '1000point',
 '1000pointrebound',
 '1000prosecutors',
 '1000reggie',
 '1000run',
 '1000s',
 '1000squarefoot',
 '1000th',
 '1000the',
 '1000ukt',
 '1000win',
 '1000yard',
 '1000year',
 '1001',
 '100100',
 '100106',
 '100109the',
 '100112',
 '10011he',
 '1001500m',
 '100165',
 '10017',
 '1001the',
 '1002',
 '10020',
 '100200',
 '100200and',
 '10022012',
 '10023',
 '10024',
 '100250',
 '10028',
 '1003',
 '100300',
 '10030they',
 '10038',
 '1004',
 '10043',
 '10044',
 '100464',
 '1004he',
 '1004w',
 '1005',
 '10054',
 '10057',
 '1005fm',
 '1006',
 '10061',
 '100626',
 '10064',
 '10066',
 '1007',
 '10071012',
 '100724',
 '1007633mose',
 '10077',
 '1008',
 '10081',
 '10083',
 '1008robert',
 '1009',
 '10090',
 '10093',
 '10099',
 '100a',
 '100acre',
 '100after',
 '100although',
 '100at',
 '100b',
 '100bed',
 '100cc',
 '100clue',
 '100cyrus',
 '100day',
 '100dbs',
 '100defever',
 '100design',
 '100digit',
 '100e',
 '100following',
 '100foot',
 '100game',
 '100garland',
 '100girls',
 '100he',
 '100hour',
 '100in',
 '100inch',
 '100issue',
 '100k',
 '100kenny',
 '100kg',
 '100kilometre',
 '100km',
 '100largest',
 '100lbs',
 '100lingmerth',
 '100lovato',
 '100m',
 '100mbits',
 '100megawatt',
 '100meter',
 '100metre',
 '100mev',
 '100mgilbert',
 '100mhz',
 '100mile',
 '100miler',
 '100million',
 '100ml',
 '100mlater',
 '100mon',
 '100mph',
 '100mshe',
 '100odd',
 '100p196869',
 '100page',
 '100pages',
 '100percent',
 '100person',
 '100piece',
 '100pm',
 '100point',
 '100ragnarsdottir',
 '100rbi',
 '100reception',
 '100s',
 '100seat',
 '100she',
 '100story',
 '100strong',
 '100t',
 '100th',
 '100thaning',
 '100thanniversary',
 '100the',
 '100thyear',
 '100to1',
 '100to70isora',
 '100varbles',
 '100voice',
 '100watt',
 '100whfs',
 '100while',
 '100williams',
 '100williamss',
 '100winner',
 '100word',
 '100y',
 '100yard',
 '100yd',
 '100year',
 '100yearold',
 '101',
 '1010',
 '10100',
 '101000',
 '101000kilometre',
 '101002job1813',
 '10101',
 '101010',
 '1010200311012004',
 '10102014',
 '10106',
 '10107',
 '10108',
 '1010committee',
 '1010s',
 '1011',
 '1011000',
 '101106',
 '10111',
 '101111eci12171',
 '101111jiec12196',
 '101117',
 '10114',
 '10115',
 '10116',
 '1011886',
 '10119',
 '101194',
 '101198101798cadrez',
 '1011994',
 '1011th',
 '1012',
 '10120',
 '10121',
 '1012181927',
 '10124at',
 '10125he',
 '10126',
 '1013',
 '10131',
 '1013249perrys',
 '101328',
 '10134',
 '10135',
 '10136',
 '10137',
 '101385',
 '1014',
 '10140',
 '1014000',
 '10141',
 '10145',
 '10147',
 '10148',
 '1015',
 '10150',
 '10153',
 '1015310163',
 '10156',
 '10156on',
 '10157',
 '1016',
 '10160',
 '101688',
 '1017',
 '10177',
 ...]

In [9]:
X_train_tfidf

<59071x548412 sparse matrix of type '<class 'numpy.float64'>'
	with 10244123 stored elements in Compressed Sparse Row format>

In [10]:
from sklearn.neighbors import NearestNeighbors

In [11]:
nn = NearestNeighbors(n_neighbors=10,p=2)

In [12]:
nn_fitted = nn.fit(X_train_tfidf)

In [13]:
nn_fitted

NearestNeighbors(algorithm='auto', leaf_size=30, metric='minkowski',
                 metric_params=None, n_jobs=None, n_neighbors=10, p=2,
                 radius=1.0)

# Find Neighbour

- Amitabh

In [14]:
people.head()

,URI,name,text
0,<http://dbpedia.org/resource/Bill_Clinton>,Bill Clinton,william jefferson bill clinton born william je...
1,<http://dbpedia.org/resource/Polyana_L%C3%B3pez>,Polyana L%C3%B3pez,polyana lpez born circa 1985 is an argentine a...
2,<http://dbpedia.org/resource/Harpdog_Brown>,Harpdog Brown,harpdog brown is a singer and harmonica player...
3,<http://dbpedia.org/resource/Franz_Rottensteiner>,Franz Rottensteiner,franz rottensteiner born in waidmannsfeld lowe...
4,<http://dbpedia.org/resource/G-Enka>,G-Enka,henry krvits born 30 december 1974 in tallinn ...

In [15]:
index = people[people.name.str.contains("Amitabh", case = False)].index[0]
index

48151

In [16]:
X_train_tfidf[index,:]

<1x548412 sparse matrix of type '<class 'numpy.float64'>'
	with 145 stored elements in Compressed Sparse Row format>

In [17]:
score, neighbour = nn_fitted.kneighbors(X_train_tfidf[index,:])

In [18]:
score[0]

array([0.        , 1.1450037 , 1.14516594, 1.15612104, 1.16326194,
       1.1887013 , 1.1989314 , 1.2017944 , 1.20739367, 1.20792693])

In [19]:
neighbour[0]

array([48151, 23229, 13267, 58790, 25394, 26948,   331, 41897, 50670,
        7504])

In [20]:
people.iloc[neighbour[0]]

,URI,name,text
48151,<http://dbpedia.org/resource/Amitabh_Bachchan>,Amitabh Bachchan,amitabh harivansh bachchan ipa mtab bttn born ...
23229,<http://dbpedia.org/resource/Dilip_Kumar>,Dilip Kumar,dilip kumar born muhammad yusuf khan on 11 dec...
13267,<http://dbpedia.org/resource/Aamir_Khan>,Aamir Khan,aamir khan pronounced amr xan born mohammed aa...
58790,<http://dbpedia.org/resource/Jaya_Bachchan>,Jaya Bachchan,jaya bachchan bengali hindi urdu born jaya bha...
25394,<http://dbpedia.org/resource/Mohanlal>,Mohanlal,mohanlal viswanathan nair born 21 may 1960 bet...
26948,<http://dbpedia.org/resource/Chiranjeevi>,Chiranjeevi,chiranjeevi born konidela siva sankara vara pr...
331,<http://dbpedia.org/resource/Mammootty>,Mammootty,mammootty born as muhammad kutty ismail panipa...
41897,<http://dbpedia.org/resource/K._J._Yesudas>,K. J. Yesudas,kattassery joseph yesudas malayalam born 10 ja...
50670,<http://dbpedia.org/resource/Jasbir_Singh_Bajaj>,Jasbir Singh Bajaj,drjasbir singh bajaj is an indian physician an...
7504,<http://dbpedia.org/resource/Rajinikanth>,Rajinikanth,rajinikanth born shivaji rao gaekwad 12 decemb...

## Using Count Vect

In [21]:
#converting our text columns to tfidf values
from sklearn.feature_extraction.text import CountVectorizer
count_vect = CountVectorizer()
X_train_count = count_vect.fit_transform(people.text)

In [22]:
nn_fitted_cv = nn.fit(X_train_count)

In [23]:
score,neighbour = nn_fitted_cv.kneighbors(X_train_count[index,:])

In [24]:
people.iloc[neighbour[0]]

,URI,name,text
48151,<http://dbpedia.org/resource/Amitabh_Bachchan>,Amitabh Bachchan,amitabh harivansh bachchan ipa mtab bttn born ...
47179,<http://dbpedia.org/resource/Eric_Bana>,Eric Bana,eric bana born eric banadinovi 9 august 1968 i...
13313,<http://dbpedia.org/resource/Keith_Faulkner>,Keith Faulkner,keith faulkner born 25 july 1936 is an english...
22635,<http://dbpedia.org/resource/Thomas_Murphy_(jo...,Thomas Murphy (journalist),thomas tom murphy is a british born journalist...
50021,<http://dbpedia.org/resource/Irrfan_Khan>,Irrfan Khan,sahabzade irrfan ali khan born 7 january 1967 ...
26371,<http://dbpedia.org/resource/Greg_Cruttwell>,Greg Cruttwell,greg cruttwell born in 1962 in london is an en...
47703,<http://dbpedia.org/resource/Richard_Leduc>,Richard Leduc,richard leduc born 1941 is a french actor he a...
24785,<http://dbpedia.org/resource/Ron_Husmann>,Ron Husmann,ron husmann born june 30 1937 is an american a...
26002,<http://dbpedia.org/resource/Christopher_Walken>,Christopher Walken,christopher walken born ronald walken on march...
19971,<http://dbpedia.org/resource/Antonio_Isasi-Isa...,Antonio Isasi-Isasmendi,antonio isasiisasmendi born 22 march 1927 is a...

Above we had checked both the method TFIDF & Countvectorizer, so 95% of the cases TFIDF will give better result but we should always check using both the methods

In [25]:
people.name.values

array(['Bill Clinton', 'Polyana L%C3%B3pez', 'Harpdog Brown', ...,
       'David Cass (footballer)', 'Keith Elias', 'Fawaz Damrah'],
      dtype=object)

## Unknown actor Example

In [28]:
some_actor = "some text bollywood hindi cinema"
unknown_actor = tfidf_vect.transform([some_actor]) #donot use fit transform

In [30]:
score, kneighbors = nn_fitted.kneighbors(unknown_actor)

In [31]:
people.iloc[neighbour[0]]

,URI,name,text
48151,<http://dbpedia.org/resource/Amitabh_Bachchan>,Amitabh Bachchan,amitabh harivansh bachchan ipa mtab bttn born ...
47179,<http://dbpedia.org/resource/Eric_Bana>,Eric Bana,eric bana born eric banadinovi 9 august 1968 i...
13313,<http://dbpedia.org/resource/Keith_Faulkner>,Keith Faulkner,keith faulkner born 25 july 1936 is an english...
22635,<http://dbpedia.org/resource/Thomas_Murphy_(jo...,Thomas Murphy (journalist),thomas tom murphy is a british born journalist...
50021,<http://dbpedia.org/resource/Irrfan_Khan>,Irrfan Khan,sahabzade irrfan ali khan born 7 january 1967 ...
26371,<http://dbpedia.org/resource/Greg_Cruttwell>,Greg Cruttwell,greg cruttwell born in 1962 in london is an en...
47703,<http://dbpedia.org/resource/Richard_Leduc>,Richard Leduc,richard leduc born 1941 is a french actor he a...
24785,<http://dbpedia.org/resource/Ron_Husmann>,Ron Husmann,ron husmann born june 30 1937 is an american a...
26002,<http://dbpedia.org/resource/Christopher_Walken>,Christopher Walken,christopher walken born ronald walken on march...
19971,<http://dbpedia.org/resource/Antonio_Isasi-Isa...,Antonio Isasi-Isasmendi,antonio isasiisasmendi born 22 march 1927 is a...

## Understanding nn

## minkowski distance

- metric = 'minkowski
- p = 2 (it can be change) "2 is deafult value"

- manhattan distance
- eculidian distance

In [35]:
# Manhattan distance
x = [1,0,0]
y = [0,1,0]

distance = 0

for i,j in zip(x,y):
    distance += abs(i-j) ** 1
    
print(distance ** (1/1))

2.0

In [36]:
#eculidian distance
x = [1,0,0]
y = [0,1,0]

distance = 0

for i,j in zip(x,y):
    distance += (i-j) ** 2
    
print(distance ** (1/2))

1.4142135623730951

In [40]:
#minkowski - function - generic function
x = [1,0,0]
y = [0,1,0]
p=2
distance = 0

for i,j in zip(x,y):
    distance += (i-j) ** p
    
print(distance ** (1/p))

1.4142135623730951